*{
    margin: 0;
    padding: 0;
    transition: all 1s;
}

/*		Title BOX*/
.title{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

/*		Start box Container*/
.startGame{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

/*		Main---- Container and Blocks*/
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    border: 1px solid;
}
#block{
    width: 100px;
    height: 100px;
/*			border: 1px solid;*/
    margin: 10px;
    transition: all 1s;
}
#block-Start{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    align-items: top;
    justify-content: center;
    height: 20px;
/*			border: 1px solid;*/
    margin: 10px;
}

/*		Start1*/
.start1{
    margin: 15px;
    padding: 5px;
    width: 40px;
    height: 40px;
    transition: all 1s;
    background-color: red;
    border-radius: 5px;
}
.start1:hover{
    margin-left: 25px;
    width: 120px;
    border-radius: 5px;
}

/*		Start 2*/
.start2{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 25px;
    width: 40px;
    height: 40px;
    transition: all 1s;
    background-color: red;
    border-radius: 5px;
}
.start2:hover{
    margin-top: 25px;
    height: 280px;
    width: 40px;
    border-radius: 5px;
}

/*		Start 3*/
.start3{
    margin: 25px;
    width: 40px;
    height: 40px;
    transition: all 1s;
    background-color: red;
    border-radius: 5px;
}
.start3:hover{
    margin-right: 100px;
    padding-left: 100px;
}
/*		End of Start Buttons*/

p{
    margin: 25px;
    size: 10px;
}

.words{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/*		Find Correct Word 1*/
.currectCarpet{
    padding: 2px;
    height: 50px;
    width: 50px;
/*			background-color: darkblue;*/
}
.currectCarpet:hover{
    scale: 1.5;
    background-color: green;
    color: white;
}
#min-block{
    margin-left: 15px;
}

/*       Triangles*/
.triangleDown{
    width: 0;
    height: 0;
    border-top: 25px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transition: all 1s;
}
.triangleUp{
    width: 0;
    height: 0;
    border-bottom: 25px solid white;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transition: all 1s;
}
.triangleLeft{
    width: 0;
    height: 0;
    border-top: 10px solid	transparent	;
    border-bottom: 10px solid transparent;
    border-right: 25px solid white;
    transition: all 1s;
}
.triangleRight{
    width: 0;
    height: 0;
    border-top: 10px solid	transparent	;
    border-bottom: 10px solid transparent;
    border-left: 25px solid white;
    transition: all 1s;
}
/*		Triangles END 	*/

.marginTop{
    margin-top: 15px;
}	

#correct{
    text-align: center;
}
.carpetWrong:hover{
    background-color: darkred;
    scale: 5;
}

/*		Carpet Roots*/
#root1:hover{
    width: 50px;
    height: 50px;
    background-color: red;
    margin-top: 110px;
    padding-bottom: 110px;
}
#root2:hover{
    width: 50px;
    height: 50px;
    background-color: red;
    margin-right: 215px;
    padding-left: 215px;
}
#root3:hover{
    width: 50px;
    height: 50px;
    background-color: red;
    margin-bottom: 260px;
    padding-top: 260px;
}
#root4:hover{
    width: 50px;
    height: 50px;
    background-color: red;
    margin-left: 80px;
    padding-right: 80px;
}
#root5:hover{
    width: 50px;
    height: 50px;
    background-color: red;
    margin-left: 435px;
    padding-right: 435px;
}
#root6:hover{
    width: 50px;
    height: 50px;
    background-color: red;
    margin-top: 250px;
    padding-bottom: 250px;
}
#root7:hover{
    width: 50px;
    height: 50px;
    background-color: red;
    margin-right: 700px;
    padding-left: 700px;
}
#root8:hover{
    width: 50px;
    height: 50px;
    background-color: red;
    margin-bottom: 110px;
    padding-top: 110px;
}
/*		END of Roots*/

.Instructions{
    display: flex;
    padding-top: 60px;
    justify-content: center;
    width: 100%;
    height: 220px;
    border: 1px solid;
}

.Instructions div{
    display: block;
    width: 500px;
    height: 100%;
/*			background-color: red;*/
}

/*		Footer*/
.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: red;
    color: white;
}

#block1{
    display: flex;
    align-items: center;
    justify-content: center;
        flex-direction: column;

    height: 100%;
    width: 500px;
}

#footer-rights{
    display: flex;
    align-items: center;
    justify-content: center;
        flex-direction: column;

    height: 25px;
    background-color: black;
    color: white;
}

span{
    color: red;
    font-weight: 100;
}

.title{
    background-color: black;
    color: white;
}

.Instructions{
    background-color: yellow;
}
